<header class="header-page">
        <div class="container main-nav">
            <nav class="nav">
                <a href="./" class="logo">
                    <span class="web">Web</span>Studio</a>
                <ul class="site-nav list">
                    <li class="site-nav__item">
                        <a href="./" class="site-nav__link site-nav__link--current">Студія</a>
                    </li>
                    <li class="site-nav__item">
                        <a href="./" class="site-nav__link">Портфоліо</a>
                    </li>
                    <li class="site-nav__item">
                        <a href="" class="site-nav__link">Контакти</a>
                    </li>
                </ul>
            </nav>
</header>